h1, h2, h3 {
  font-family: 'Merriweather', Georgia;
}

h1 {
  letter-spacing: 1px;
}

h3 {
  letter-spacing: 0.5px;
}
.title {
  text-align: center;
  padding: 5rem 0;
}

.wrapper {
  padding: 1.5rem;
  color: rgba(0,0,0, .9);
  max-width: 700px;
  margin: 0 auto;
}

body {
  color: #606c76;
}


dt {
  font-weight: 500;
}

dd {
  margin: 0 auto;
}

footer {
  text-align: center;
  font-size: 1rem;
  padding: 3rem 0;
}
