@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
}

// .MuiTypography-body1 {
//   font-weight: 300 !important;
//   line-height: 1.6 !important;
// }

li::marker {
  font-weight: 300;
}

* {
  font-family: "Roboto", sans-serif;
}

// .header-text {
//   font-family: "Merriweather", Georgia !important;
//   letter-spacing: 1px !important;
//   text-rendering: optimizeLegibility;
//   font-weight: 700 !important;
//   font-feature-settings: "kern";
// }
