body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.show-small,
.show-small-inline {
  display: none !important;
}

@media (max-width: 600px) {
  .hide-small {
    display: none !important;
  }

  .show-small-inline {
    display: inline;
  }

  .show-small-block {
    display: block;
  }
}

.header-text {
  font-family: "Merriweather", Georgia !important;
  letter-spacing: 1px !important;
  font-weight: 700 !important;
}
